.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table, td 
                {
                border-color: #000000; 
                          border-width: 1px; 
                          border-style: solid; 
                          border-collapse: collapse;
                          font-family: Arial; 
                          font-size: 14pt; 
                          font-weight: 500;
                          }

     td 
       {
         color: #000000; 
         text-align: center;
         padding: 10px 10px 10px 10px
         }

      .sidexside 
       {
             float: left;
             margin:20px;
             valign: top;
             }
             .split {
              height: 100%;
              width: 50%;
              position: fixed;
              z-index: 1;
              top: 0;
              overflow-x: hidden;
              padding-top: 20px;
          }
          .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        .right {
          right: 0;
          /* background-color: red; */
      }
          
      #div1 {
        width: 100px;
        height: 25px;
        background-color: #b22222;
        font-weight: bold;
        position: relative;
        -webkit-animation: mymove 0.5s ; /* Safari 4.0 - 8.0 */
        animation: mymove 0.5s ;
        -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      opacity: 0.85;
      font-family: "Josefin Sans";
    }
    #div2 {
      width: 100px;
      height: 25px;
      background-color: #b22222;
      font-weight: bold;
      position: relative;
      -webkit-animation: mymove 0.5s ; /* Safari 4.0 - 8.0 */
      animation: mymove 0.5s ;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
      -webkit-animation-timing-function: ease;
      animation-timing-function: ease;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      opacity: 0.85;
      font-family: "Josefin Sans";
  }
  #div3 {
    width: 100px;
    height: 25px;
    background-color: #b22222;
    font-weight: bold;
    position: relative;
    -webkit-animation: mymove 0.5s ; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 1;
    animation: mymove 0.5s ;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      opacity: 0.85;
      font-family: "Josefin Sans";
}
#div4 {
  width: 100px;
  height: 25px;
  background-color: #b22222;
  font-weight: bold;
  position: relative;
  -webkit-animation: mymove 0.5s ; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: 1;
  animation: mymove 0.5s ;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      opacity: 0.85;
      font-family: "Josefin Sans";
} 
    
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes mymove {
        from {top: 0px;}
        to {top: 100px;}
    }
    
    /* Standard syntax */
    @keyframes mymove {
        from {top: 0px;}
        to {top: 100px;}
    }
    .form-control {
      padding-right: 30px;
  }
  
   .glyphicon + .form-control {
      position: absolute;
      left: 0;
      padding: 8px 27px;
  }
  .btn {
    cursor: url("cursors/home.cur"),default;
  }

  table.tuser {
    cursor: url("cursors/grab.png"),default;
    z-index: 1;
  }

  table.toppo {
    cursor: url("cursors/target.png"),default;
    z-index: 1;
  }

  #bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -1;
  }
  #bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }
  #bg1 {
     z-index: -1;
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -1;
  }
  #bg1 img {
   
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    opacity: 0.5;
  }
  #in_signin{
    background-color: yellow;
    text-decoration-color: black;
  }
  #in_signup{
    background-color: white;
    text-decoration-color: black;
  }
  #up_signin{
    background-color:white;
    text-decoration-color: black;
  }
  #up_signup{
    background-color: yellow;
    text-decoration-color: black;
  }

  .rounded{
    border-radius: 50px;
  }
  #signin_back{
    background-color: grey;
    opacity:0.85;
  }
  #signup_back{
    background-color: grey;
    opacity:0.85;
  }

  .g_p{
    padding-right: 30px;
  }
  .po{
    padding-right: 30px;
  }
  .active_username{
    padding-right: 150 px;
  }

  #congrats {margin:25px auto; width:700px;}
  #congrats span{width:20px; height:10px;display:block;border-radius:10px;
float:left;}

#congrats span:nth-child(2n-1){background:red; animation:bar1 0.8s infinite ease;}

#congrats span:nth-child(2n){background:yellow;animation:bar2 0.8s infinite ease;}

@keyframes bar1{
0%{background:red}100%{background:yellow}
}

 @keyframes bar2{
0%{background:yellow}100%{background:red}
}

#congrats h2{clear:both;padding-top:15px; padding-left:15px;font-family:verdana;

font-size:1.25em;}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
